

#barber{
    width: 100%;
}
.principal{
    background-color: aquamarine;
    padding: 50px;

}
.Titulo-Centralizado{
    text-align: center; 
    background-color: lightblue;
}
p{
    text-align: center;
}
em strong{
    color: red;
}
#mision{
    font-size: 20px;
}
.diferenciales{
    background: white;
}

.items{
    font-style: italic;
    font-size: 20px;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.imagenDifereniciales{
    width: 50%;
}