header {
    background: #BBBBBB;
    padding: 20px 0;
}
.box-nav {
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 5px;
} 
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}
/*Main*/
.opciones{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.opciones li{
    margin: 20px 0;
    text-align: center;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black ;
    border-radius: 5%;
}
/*Hover detecta cuando se le pone el mouse encima a algo*/
.opciones li:hover{
    border-color: #c78c19;
}
/*Es para cuando se le da click*/
.opciones li:active{
    border-color: green;
}
.opciones h2{
    font-size: 20px;
    font-weight: bold;
}
.opciones li:hover h2{
    font-size: 33px;
}

.producto-descripcion{
    font: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

footer{
    padding: 15px 0px;
    text-align: center;
    background:url(../imagenes/bg.jpg);
}

#copyriht{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}